# Cấu hình môi trường cho ứng dụng
PORT=5000
DB_HOST=127.0.0.1
DB_USER=
DB_PASSWORD=
DB_NAME=backend_core
JWT_SECRET=

# Cấu hình Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Cấu hình Email (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=
SMTP_PASS=

# Cấu hình cơ sở dữ liệu
DATABASE_URL=
